/* styles.css */

.header {
    background-color: #28a745; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto */
    padding: 1rem; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
  }
  
  .header h1 {
    font-size: 2rem; /* Tamaño del título */
    margin: 0; /* Eliminar margen superior e inferior */
  }
  
    
    /* Button styles */
    .button {
      display: inline-block;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    
    .button-primary {
      background-color: #007bff;
      color: #fff;
    }
    
    .button-secondary {
      background-color: #6c757d;
      color: #fff;
    }
    
    .button-danger {
      background-color: #dc3545;
      color: #fff;
    }
    
    .button:hover {
      opacity: 0.8;
    }
  
  
  
    /* Card styles */
  .card {
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border: 1px solid #d5d5d5;
      border-radius: 24px;
      font-size: 14px;
      padding: 20px;
      margin-bottom: 20px;

      
      /* New styles */
      
      
    }
    
    .card img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-right: 20px;
    }
    
    .card-content {
      flex: 1;
    }
    
    .card-content h2 {
      margin-top: 0;
    }
    
    .card-content p {
      margin-bottom: 10px;
    }
    
    .card-content button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .card-content button:hover {
      opacity: 0.8;
    }


    .NavHeader {
      background-color: #333; 
      padding: 10px 20px; 
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
      margin-bottom: 20px;
    }
    
    nav ul {
      list-style-type: none; 
      margin: 0;
      padding: 0;
      display: flex; 
    }
    
    nav ul li {
      margin-right: 20px; 
    }
    
    nav ul li:last-child {
      margin-right: 0; 
    }
    
    nav ul li a {
      color: #fff; 
      text-decoration: none; 
    }
    
    
    nav ul li a:hover {
      text-decoration: underline; 
    }
    

    /* CartPage.css */


    .cart-container {
      display: flex;
      align-items: center; 
    }
    
    .cart-count {
      background-color: #ffffff; 
      color: #000000; 
      font-size: 12px; 
      border-radius: 50%; 
      padding: 4px 8px; 
      margin-left: 4px;
    }
  
    .cart-container {
      margin: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
    }
    
    .cart-container h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    .total-quantity {
      font-size: 18px;
      margin-bottom: 15px;
    }
    
    .cart-items {
      list-style-type: none;
      padding: 0;
    }
    
    .cart-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
    }
    
    .cart-item:last-child {
      border-bottom: none;
    }
    
    .cart-item span {
      flex: 1;
    }
    
    .price,
    .quantity,
    .subtotal {
      text-align: right;
    }



    .selector {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
    }
  

.product-detail-container {
  display: flex;
}

.card-detail-container {
  flex: 1; /* Hace que el CardDetail ocupe todo el espacio disponible */
  margin-right: 24px; /* Crea un espacio entre el CardDetail y el Checkout */
}

.checkout-container {
  flex: 1; /* Hace que el Checkout ocupe todo el espacio disponible */

}


   